
.hamburger-menu {
    margin-left: calc(25*var(--inverse-of-html-font-size-16)*1rem);
    width: calc(44*var(--inverse-of-html-font-size-16)*1rem);
    height: calc(44*var(--inverse-of-html-font-size-16)*1rem);
}