.navigation-bar {
    height: calc(60*var(--inverse-of-html-font-size-16)*1rem);
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-of-header-footer);
    border-top: 1px solid var(--color-border-of-header-footer);
    border-bottom: 1px solid var(--color-border-of-header-footer);
}