
:root {
    --color-text: #0D0D0D;
    --color-background-of-header-footer: #F9F9F9;
    --color-border-of-header-footer: #0D0D0D54;
    /* The value below is used for converting css values which are sizes for desktop screens
    to a value which can then be multiplied with the rem value, rem values vary depending on screen size.
    Desktop screens use a font size of 16px, thus the desktop-screen-size-quotient is 1/16=0.0625 */
    --desktop-screen-size-quotient: 0.0625;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 18px;
    }
}

body {
    font-family: Inter, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

p {
    color: var(--color-text);
}
